.menus {
  margin: 30px auto;
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 90%;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(143, 4, 99);
}

.menu-picture {
  margin: 10px auto;
  background-color: rgb(142, 16, 94);
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0 0 5px rgb(254, 252, 252);
  border-radius: 3px;
}
.menu-picture img {
  width: 100%;
}

.menu-picture h2 {
  color: white;
  font-size: 14px;
}
.menu-picture p {
  color: white;
}

.menu-picture ul {
  padding: 0;
  width: 90%;
  margin-top: 20px;
}

.menu-picture p:nth-child(4) {
  background-color: white;
  text-align: center;
  color: brown;
  cursor: pointer;
  width: 100%;
  padding: 5px;
  border-radius: 3px;
}

.menu-picture p:nth-child(4):hover {
  background-color: rgb(11, 142, 41);
  color: white;
}

.menu-picture ul li {
  list-style: none;
  border-bottom: white 1px solid;
}

/* Breakpoint Responsive */

@media screen and (min-width: 650px) {
  .menus {
    width: 80%;
  }
  .menu-picture img {
    height: 45%;
  }
  .menu-picture p:nth-child(4) {
    width: 60%;
  }
}
