.item_spesial {
  padding: 5px;
  margin: 20px auto;
}
.item_spesial h2 {
  text-align: center;
}

.item_layanan {
  width: 100%;
  margin: 10px auto;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(142, 16, 94);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 20px;
  grid-template-areas:
    'satu dua tiga'
    'empat lima enam';
}

.item_layanan h3 {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
}

.menu1 {
  grid-area: satu;
  width: 70%;
  box-shadow: 0 0 5px rgb(254, 252, 252);
  border-radius: 10px;
}
.menu2 {
  grid-area: dua;
  width: 70%;
  box-shadow: 0 0 5px rgb(254, 252, 252);
  border-radius: 10px;
}
.menu3 {
  grid-area: tiga;
  width: 70%;
  box-shadow: 0 0 5px rgb(254, 252, 252);
  border-radius: 10px;
}
.menu4 {
  grid-area: empat;
  width: 70%;
  box-shadow: 0 0 5px rgb(254, 252, 252);
  border-radius: 10px;
}
.menu5 {
  grid-area: lima;
  width: 70%;
  box-shadow: 0 0 5px rgb(254, 252, 252);
  border-radius: 10px;
}
.menu6 {
  grid-area: enam;
  text-decoration: none;
  width: 70%;
  box-shadow: 0 0 5px rgb(254, 252, 252);
  border-radius: 10px;
}

.item_spesial .item_layanan a {
  text-decoration-line: none;
  align-items: center;
  text-align: center;
  color: white;
}

.item_layanan p {
  font-size: 11px;
  text-align: center;
  align-items: center;
}

/* Breakpoint responsive */

@media screen and (min-width: 760px) {
  .item_layanan {
    display: flex;
    width: 60%;
  }
}
