.profil {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: rgb(142, 16, 94);
  margin: 20px auto;
  border-radius: 40px 0px 40px 0px;
  width: 80%;
}

.image-profil {
  width: 100%;
  border-radius: 10px;
}

.image-profil img {
  width: 100%;
  border-radius: 10px;
}

.description-profil h3 {
  color: white;
}
.description-profil p {
  color: white;
}

@media screen and (min-width: 1000px) {
  .profil {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    padding: 10px;
  }
  .image-profil {
    width: 60%;
    margin: 5px;
    box-sizing: border-box;
  }
  .image-profil img {
    width: 100%;
  }
  .description-profil {
    width: 60%;
    margin: 5px;
    box-sizing: border-box;
  }
}
