.banner {
  width: 90%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  border-radius: 40px 0px 40px 0px;
  background-color: rgb(142, 16, 94);
  padding: 10px;
}
.banner .img1 {
  border-radius: 40px 0px 40px 0px;
  border: 10px solid white;
  margin-bottom: 10px;
}

.banner .img2 {
  border-radius: 0px 40px 0px 40px;
  border: 10px solid white;
  margin-bottom: 10px;
}
.banner img {
  width: 100%;
}

.banner p {
  color: white;
}

/* Breakpoint */

@media screen and (min-width: 650px) {
  .banner {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'banner1 banner2'
      'textbanner textbanner';
    align-items: center;
    box-sizing: border-box;
    width: 70%;
    justify-content: space-between;
  }

  .banner-image1 {
    grid-area: banner1;
    width: 80%;
    margin: 10px auto;
  }

  .banner-image2 {
    grid-area: banner2;
    width: 80%;
    margin: 10px auto;
  }

  .text-banner {
    grid-area: textbanner;
    margin: 0 auto;
    width: 80%;
  }

  .banner img {
    width: 100%;
  }
  .banner p {
    padding: 20px;
    box-sizing: border-box;
  }
}
